.image-container {
    display: flex;
    position: relative;

    &__star {
        position: absolute;
        top: 0;
        right: 10%;
        color: yellow;
        font-size: 20px;
        background: orange;
        cursor: pointer;
    }
    &__left {
        left: 10%;
    }
    &__right {
        right: 10%;
    }
    &__arrow {
        transform: translateY(-50%);
        top: 50%;
        position: absolute;
        font-size: 24px;
        background: #fff;
        border-radius: 50%;
        border: 1px black solid;
        cursor: pointer;
    }
}
