.image-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    display:flex;

    &__image {
        max-width:100%;
        max-height:70vh;
        display:block;
        margin:auto;
        height: auto;
        width: auto;
    }
}
