.image-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    display:flex;

    &__image {
        margin:auto;
        max-width: 80%;
        max-height: 80%;
        height: auto;
        width: auto;
    }
}
