@import "./../../../../globalStyleVariables.scss";

.image-container {
  display: flex;
  position: relative;
  min-width: 200px;
  min-height: 200px;
  &__left {
    left: -$arrow-offset;
  }
  &__right {
    right: -$arrow-offset;
  }
  &__arrow {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    color: $primary;
    width: $arrow-offset;
    height: $arrow-offset;
    cursor: pointer;
    &:hover {
      color: $primary-variant;
    }
  }
}
