.loading {
  position: absolute;
  top: 0;
  left: 0;
  &__spinner {
    width: 25%;
    height: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotating 2s linear infinite;
    display: block;
    position: relative;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
