.random-image-container{
 // display:flex;
  text-align:center;
  &__generate-button{
    background:aqua;
    padding:10px 10px;
    border-radius:5px;
    margin:10px auto;
    font-weight:bold;
    outline:none;
   cursor:pointer;
    &:hover{
      background:aquamarine;
    }
  }

}