@import "./../../../globalStyleVariables.scss";
.navbar {
  &__element {
    display: inline-block;
    color: $primary-text;
    text-decoration: none;
    background: $primary;
    padding: 10px 15px;
    &--active {
      background: $primary-variant;
    }
  }
}
